*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-thumb{
    background: #FF0000;
}
:target:before{
    content:"";
    display: block;
    height: 250px;
    margin: -250px 0 0;
}
body{
    background-color: #e6e6e6;
}
a{
    color: #000;
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
.navbar{
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    background-color: #000!important;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,0.4);
    z-index: 15;
}
.nav-link{
    color: white!important;
    font-family: 'Poppins';
    font-weight: bold;
}
.nav-link:hover{
    color: green!important;
}
.nav-item:active{
    color: green!important;
}
.spanwhite{
    color: white;
}
.spanred{
    color: red;
}
.navbar-light .navbar-toggler{
    border-color: transparent!important;
    color: white!important;
}
button:focus{
    outline: none!important;
}
.display-4{
    font-size: 3rem;
    font-family: 'Niconne', cursive;
    color: Green;
}
.navbar-brand{
    font-size: 2rem;
    color: Green!important;
    font-family: 'Poppins';
    font-weight: bold;
}
/* CAROUSEL*/
#carousel{
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.4);
    background-color: #e6e6e6;
}
.carousel-inner{
    max-height: 93vh!important;
    object-fit: cover;
}
.carousel::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
}
.carousel-control-next, .carousel-control-prev{
    /* display: none; */
    top: 70%!important;
    bottom: 70%!important;
    opacity: 1!important;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
    transition: transform 1.2s ease;
    object-fit: cover;
}
.carousel-item img{
    object-fit: cover;
}
.fa-chevron-left, .fa-chevron-right{
    color: #fff!important;
    font-weight: bold!important;
    font-size: 2.8rem;
    height: 16px;
}
#home .swiper-slide{
    background: transparent; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 40px;
}
#home .swiper-container {
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-top: 3rem; */
    max-width: 500px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home .sw-header{
    color: white;
    width: 100%;
    font-size: 3rem;
    font-family: 'Niconne', cursive;
}
#home .swiper-button-next,
#home .swiper-button-prev {
    display: none;
}
/* CAROUSEL END*/
/* ABOUT START */
/* #about {
    height: 100vh;
    width: 100%;
} */
#about {
    background-color: #e6e6e6;
}
#about .swiper-container {
    width: 300px;
    height: 600px;
    border-radius: 10px!important;
}
#about .swiper-wrapper {
    border-radius: 10px!important;
}
#about .swiper-slide img {
    object-fit: cover;
    cursor: pointer;
    height: 600px;
    width: 300px;
    border-radius: 10px;
}
#about .swiper-button-prev,
#about .swiper-button-next {
    top: 50%;
}
/* #about img{
    border-radius: 8px;
} */
#info{
    background-color: #000;
}
.mb-4 {
    color: white!important;
}
.shop-info i {
    font-size: 50px;
}
.shop-info h1{
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
}
#info .fas, .fa{
    color: white!important;
}
.shop-info p,
.shop-info address{
    color: white!important;
}
.scrollable{
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}
.wrapper{
    padding: 10px;
}
table {
    border: collapse;
}
.tableImg {
    width: 200px;
    object-fit: cover;
    height: 200px!important;
    border-radius: 10px;
}
.tableText {
    font-family: 'Niconne' , cursive;
    font-size: 3rem;
}
.table ::-webkit-scrollbar ::-webkit-scrollbar-thumb {
    width: 0px;
    background: #ff0000;
    border-radius: 10px;
    border: none;
}

/** TEAMSECTION **/
#team {
    margin-top: 20px;
}
.swiper-container {
    width: 300px;
    height: 600px;
    border-radius: 10px!important;
}
.swiper-wrapper {
    border-radius: 10px!important;
}
.swiper-slide img {
    object-fit: cover;
    cursor: pointer;
    height: 600px;
    width: 300px;
    border-radius: 10px;
}
.swiper-caption{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swiper-button-prev,
.swiper-button-next {
    top: 55%;
}
/*GALLERY*/
#gallery{
    height: 100vh;
    margin: 50px;
}
.gallery-title {
     font-size: 36px;
     color: #FFA500;
     text-align: center;
     font-weight: 500;
     margin-bottom: 70px
}

.gallery-title:after {
     content: "";
     position: absolute;
     width: 22.5%;
     left: 38.5%;
     height: 45px;
     border-bottom: 1px solid #5e5e5e
}

.filter-button {
     font-size: 18px;
     border: 1px solid green;
     border-radius: 5px;
     text-align: center;
     color: red;
     margin-bottom: 30px
}

.filter-button:hover {
     font-size: 18px;
     border: 1px solid green;
     border-radius: 5px;
     text-align: center;
     color: #ffffff;
     background-color: green
}

.btn-default:active .filter-button:active {
     background-color: #FFA500;
     color: white
}

.port-image {
     width: 100%
}

.gallery_product {
     margin-bottom: 30px
}

#gallery img {
     box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
     border-radius: 5px;
     width: 300px;
     height: 270px;
     object-fit: cover;
}
.hide{
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 320px) {
    .navbar-brand{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 500px) {
    .swiper-container {
        width: 320px!important;
        height: 400px!important;
        border-radius: 10px!important;
    }
    .swiper-slide img {
        object-fit: cover;
        height: 400px!important;
        width: 320px!important;
        border-radius: 10px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        top: 60%;
    }
}
@media screen and (max-width: 770px) {
    .navbar-brand{
        font-size: 1.2rem;
    }
    .shop-info i{
        font-size: 35px;
    }
    .shop-info h1{
        font-size: 20px;
    }
    .shop-info p{
        font-size: 1rem;
    }
    .carousel-inner{
        max-height: 100%!important;
        object-fit: cover;
        margin-top: -55px;
    }
    .img-fluid {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    #about .img-fluid img{
        height: 400px!important;
        width: 400px!important;
        object-fit: cover;
    }
}
@media screen and (max-width: 1024px) {
    .img-fluid{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    /* #about .img-fluid{
        height: 400px!important;
        width: 400px!important;
        object-fit: cover;
    } */
    .swiper-container {
        width: 600px;
        height: 500px;
        border-radius: 10px!important;
    }
    .swiper-slide img {
        object-fit: cover;
        height: 500px;
        width: 600px;
        border-radius: 10px;
    }
    #about .swiper-container {
        width: 512px;
        height: auto;
    }
    #about .swiper-slide img {
        width: 512px;
        height: 400px;
    }
    #home .swiper-slide {
        width: 400px;
    }
}
@media screen and (min-width: 1024px) {
    #home .sw-header {
        width: 200px;
        color: white;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        font-family: 'Niconne', cursive;
        text-align: center;
    }
}
@media screen and (min-width: 1200px) {
    .tableImg {
        height: 400px!important;
        width: 960px;
        object-fit: cover;
    }
    .swiper-container {
        height: 700px;
        width: 800px;
        border-radius: 10px!important;
    }
    .swiper-slide img {
        object-fit: cover;
        cursor: pointer;
        height: 700px;
        width: 800px;
        border-radius: 10px;
    }
    /* ABOUT SWIPER */
    #about .swiper-container{
        height: 500px;
        width: 600px;
    }
    #about .swiper-slide img {
        object-fit: cover;
        cursor: pointer;
        height: 500px;
        width: 600px;
    }
    #menu .container {
        max-width: 100%;
    }
    #home .sw-header {
        color: white;
        font-size: 4rem;
        font-family: 'Niconne', cursive;
        text-align: center;
    }
}